<%= form_for [@team, @todo] do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :member_id, "who" %><br />
    <%= f.text_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :what %><br />
    <%= f.text_field :what %>
  </div>
  <div class="field">
    <%= f.label :when %><br />
    <%= f.select(:when, [["Eventually", 1],
                        ["This week", 2],
                        ["Today", 3]]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
